.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .profile-img {
    max-width: 500px;
  }
}

