.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-img {
  max-width: 100%; /* Zapewnia, że obraz nie przekroczy szerokości kontenera */
  height: auto; /* Utrzymuje proporcje obrazu */
  display: block; /* Zapobiega dodatkowej przestrzeni pod obrazem */
  margin: 0 auto; /* Centruje obraz w kontenerze */
}

@media (min-width: 768px) {
  .profile-img {
    max-width: 500px; /* Ogranicza szerokość na większych ekranach */
  }
}

